<!--christ.css- a style sheet for the christ.xml document-->
cs{display: block; margin-top: 15px; color: blue;}
Stu-name{display: block; margin-left:40px;margin-top: 30pt;color:red}
Stu-branch{display: block; margin-left:40px;color:green}
Stu-college{display: block;font-size: 18pt;color:blue}
Stu-email{display: block;font-size: 18pt;color:green}